<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>leftmenu</title>
<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>
<script type="text/javascript" src="__ADMINJS__/common.js"></script>
<link rel="stylesheet" type="text/css" href="__ADMINCSS__/admin.css">
<script>
function showlink()
{
	var eli = document.getElementsByTagName("li");
	for(var i=0; i<eli.length; i++)
	{   
		if(eli[i].className=='active')
		{
			parent.frames[2].location = eli[i].children[0].href;
             var act=$(".active");//将除了第一个的颜色去掉，先当于只留了第一个；
         for(var i=1;i<=act.length;i++)
         {	act.eq(i).removeClass("active");}
			break;
		}
	}
    
	
}
</script>
</head>
<body onLoad="showlink()">
<div id="jybody">
<table id="heightmenu" style="height:100%;">
<tr>
<td>
	<div id="leftmenu">
		<div class="close" title="关闭/展开左栏"></div>
        <ul class="submenu">
         <li class="active" ><a href="{:U('Login/activitylist')}" target="main-frame">活动列表</a></li>
        
         
       
        </ul>
     </div>
</td></tr>
</table>		
</div>


</body>
</html>