<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>后台管理</title>

<link rel="stylesheet" href="__ADMINCSS__/main.css" >

<link rel="stylesheet" href="__ADMINCSS__/validate.css">

<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>

<script type="text/javascript" src="__ADMINJS__/common.js"></script>

<script type="text/javascript" src="__ADMINJS__/validate.js"></script>



<script>
function del()
{
return confirm('确认删除？');
}

</script>

</head>

<body>

<div class="container">



    <div><h1 align="left">合法用户</h1></div>

<table cellpadding="3" cellspacing="1" align="center" class="box">

<tr>

<th width="">序号</th>
<th width="">账号</th>
<th>姓名</th>
<th>社团</th>
<th width="">申请时间</th>
<th>操作</th>
</tr>


{$list}



</table> 


</div>



</body>

</html>

