<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>top</title>
<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>
<script type="text/javascript" src="__ADMINJS__/common.js"></script>
<link rel="stylesheet" type="text/css" href="__ADMINCSS__/admin.css">
</head>
<body>
<div id="jywrap">
    <div id="jyhead">
        <a href="{:U('Login/menu')}" target="main-frame"><div class="logo"></div></a>
        <div class="nav">
    <ul class="menu">
    <li class="active" ><a href="{:U('Login/menu')}" target="menu-frame" hidefocus="true">系统设置</a></li>
    <li><a href="{:U('Login/activity')}" target="menu-frame" hidefocus="true">活动管理</a></li>
    <li><a href="{:U('Login/money')}" target="menu-frame" hidefocus="true">资金信息</a></li>
    <li><a href="{:U('Login/user')}" target="menu-frame" hidefocus="true">用户信息</a></li>
    {$organization}
    <!--<li><a href="" target="menu-frame" hidefocus="true">视频列表</a></li>--!>
   </ul>
        </div>
        <div class="uinfo">{$admin}您好，上次登录时间：{$login_time} 上次登录IP：{$ip} 权限为:{$limit}
   <br />
		<a href="__ROOT__" target="_blank">网站首页</a> | 
		<a href="{:U('Login/menu')}" target="menu-frame">后台首页</a> | 
		<a href="{:U('Login/changepwd')}" target="main-frame">修改密码</a> | 
		<a href="{:U('Login/logoff')}" target="_top" >退出登录</a>
		</div>
    </div>
</div>
</body>
</html>